/* my-css */
*{margin:0;padding:0;font-family:"ø¨ÃÂ"!important;}
body{font-family:"ø¨ÃÂ";}
nput{outline:none} 
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
	text-decoration:none;
}
.bigbj{
	width:800px;
	height:600px;
}
.center{
	width: 800px;
    height: 600px;
    /* background: url(1.png) no-repeat; */
    margin: 0 auto;
    z-index: 0;
    position: absolute;
    top: 0px;
}

/***÷§ È±≥æ∞¥Ú”°…Ë÷√**/
@media print{.center {background: url(1.png) no-repeat;}}


.center1{
	width:650px;
	margin:-594px auto;
}
.h1{
	color:#616b77;
	font-size:36px;
	width:100%;
	text-align:center;
	padding-top:60px;
	font-weight:800;
	font-family:"Œ¢»Ì—≈∫⁄";
	letter-spacing:8px;
}
.p{
	font-size:20px;
	color:#616b77;
	text-indent:2em;
	padding-top:50px;
	line-height:40px;
	width:100%;

}
.p i{
	padding:0px 10px 0px 10px;;
	border:1px solid #dddddd;
}
.zhengshu p{
	position:relative;
	font-size:16px;
	color:#616b77;
	margin-top:30px;
}


.bj{
	position: relative;
    top: -30px;
    left: 68px;
    padding: 63px;
    margin-left:307px;
    background-image: url(dz.png);
    background-position: -591px -989px;
    z-index: 99;
   
    
}


